#roomOne{

  border-style:solid;
  border-width:3px;
  border-color:rgba(0,255,0,1);
  float:left;
  border-radius:25px 25px 25px 25px;
  background-color: rgba(153,153,102,0.5);
  z-index:-1;
  margin-top: 20px;
  margin-right: 20px;
}
#roomOne:hover{
  background-color: rgba(102,255,255,0.5);
  z-index:-1;
}
#roomTwo{
  border-style:solid;
  border-width:3px;
  border-color:rgba(0,255,0,1);
  float:left;
  border-radius:25px 25px 25px 25px;
  background-color: rgba(153,153,102,0.5);
  z-index:-1;
  margin-top:20px ;
  margin-right: 20px;
}
#roomTwo:hover{
  background-color: rgba(102,255,255,0.5);
  z-index:-1;
}
#roomThree{
  border-style:solid;
  border-width:3px;
  border-color:rgba(0,255,0,1);
  float:left;
  border-radius:25px 25px 25px 25px;
  background-color: rgba(153,153,102,0.5);
  z-index:-1;
  margin-top: 20px;
  margin-right: 20px;
}
#roomThree:hover{
  background-color: rgba(102,255,255,0.5);
  z-index:-1;
}
#roomFour{
  border-style:solid;
  border-width:3px;
  border-color:rgba(0,255,0,1);
  float:left;
  border-radius:25px 25px 25px 25px;
  background-color: rgba(153,153,102,0.5);
  z-index:-1;
  margin-top:20px ;
  margin-right: 20px;
}
#roomFour:hover{
  background-color: rgba(102,255,255,0.5);
  z-index:-1;
}
body{
  background-image:url(https://image.freepik.com/free-photo/city-at-sunset_1127-2123.jpg);
  background-size: 50%;
}
#hotel{
  font-size: 50px;
  text-align:center;
  color:rgba(255,255,255,1);
  
}